.section {
    position: relative;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        margin-bottom: 2em;
    }

    .images {
        margin-bottom: 110px;
        width: 90%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        img {
            width: auto;
            height: 600px;
            margin: 0.5em;
        }
    }
    

    button {
        font-family: 'Didact Gothic', sans-serif;;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 20px;
        border: none;
        margin: 50px;
        padding: 10px 20px;
        font-size: 20px;
        background-color: transparent;
    }

    .home_btn {
        left: 0;
    }
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 1){
    .section {
        h1 {
            margin-bottom: 1em;
        }
    
        .images {
            margin-bottom: 110px;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
    
            img {
                max-width: 100%;
                height: auto;
            }
        }
    
        button {
            right: 0;
            padding: 0;
            margin: 50px 20px;
            font-size: 18px;
        }

        
    }
}

// SAFARI
@media screen and (-webkit-min-device-pixel-ratio:2)
    and (min-device-width: 300px) 
    and (max-device-width: 812px)  {
    .section {
        width: 100%;

        .images {
            width: 320px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 6em;
            
            img {
                align-self: flex-start;
                width: 100%;
            }
        }
    
        button {
            position: absolute;
            bottom: 0;
            padding: 0;
            margin:  50px 22px;
            font-size: 14px;  
            width: 50%;
        }

        .next_btn {
            right: 0;
            text-align: right;
        }

        .home_btn {
            left: 0;
            text-align: left;
        }
    }
}
